body {
    margin: 0;
}

.main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px #333 solid;
}

#img-input {
}

#canvas-save {
    display: none;
}

.stage {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.edit-pane,
.result-pane {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    height: 1px;
    background-image: repeating-linear-gradient(to right, #888, #888 8px, transparent 8px, transparent 16px);
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider > button {
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: #1897ff;
    color: white;
    margin: 0 5px;
}

canvas {
    position: absolute;
}